#page-links > * {
	margin-left: 15%;
}

#socials > * {
	margin-right: 25%;
}

#top-space {
	margin-bottom: 10%;
}

#quote-text {
	margin-top: 10%;
	margin-bottom: 5%;
}

#top-page {
	position: -webkit-sticky;
	position: sticky;
	top: 0;
	background-color: white;
	padding: 30px;
	z-index: 999;
}

#empty-space-about-page {
	padding-bottom: 10%;
}

#empty-space-contact-page {
	padding-bottom: 10%;
}

#empty-space-contact-page2 {
	padding-bottom: 10%;
}

img {
	-webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
	filter: grayscale(100%);
	max-height: 600px;
}

img:hover {
	-webkit-filter: grayscale(50%); /* Safari 6.0 - 9.0 */
	filter: grayscale(50%);
}

#contact-page-body {
	margin-left: 40%;
}
